@font-face {
  font-family: 'ITC Avant Garde Std Book';
  src: url('ITCAvantGardeStd-Bk.woff2') format('woff2'), url('ITCAvantGardeStd-Bk.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'ITC Avant Garde Std Demi';
  src: url('ITCAvantGardeStd-Demi.woff2') format('woff2'), url('ITCAvantGardeStd-Demi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'ITC Avant Garde Std Medium';
  src: url('ITCAvantGardeStd-Md.woff2') format('woff2'), url('ITCAvantGardeStd-Md.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Avant Garde Std Bold';
  src: url('ITCAvantGardeStd-Bold.woff2') format('woff2'), url('ITCAvantGardeStd-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
