@import url(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.1/css/bootstrap-grid.min.css);

:not(ul) {
  margin: 0;
  padding: 0;
}

.header {
  &__top {
    &-title {
    }
  }
  &__nav {
    display: flex;

    &-option {
      flex-grow: 1;
      text-align: center;
    }
  }
}
