@import url(../assets/fonts/stylesheet.css);

// Colors
:root {
  --color_blue0: #02101c;
  --color_blue50: #1e2e50;
  --color_blue100: #00f4ff;
  --color_pink50: #ff0054;
  --color_red50: #f82754;
  --color_yellow50: #f7df2e;
  --fontFamily_avantGardeBook: 'ITC Avant Garde Std Book', sans-serif;
  --fontFamily_avantGardeBold: 'ITC Avant Garde Std Bold', sans-serif;
}

.color_blue100 {
  color: var(--color_blue100);
}

:link,
:visited {
  color: blue;
}

html,
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ol {
  padding-left: 35px;
}

body {
  background-color: var(--color_blue0);
  font-family: monospace;
  color: var(--color_blue100);
  font-size: 14px;
}

strong {
  font-weight: normal;
}

h1 {
  font-family: var(--fontFamily_avantGardeBold);
}

h2 {
  margin-top: 40px;
}

h2,
h4 {
  font-family: var(--fontFamily_avantGardeBook);
  color: var(--color_yellow50);
}

h3,
h5 {
  font-family: var(--fontFamily_avantGardeBold);
  color: var(--color_pink50);
}

h5 {
  font-size: 13px;
}

a {
  font-family: var(--fontFamily_avantGardeBold);
}

table, td {
  border: 1px solid;
  border-spacing: 2px;
  border-collapse: collapse;
  padding: 5px 10px;
}

td ul,
td pre {
  margin: 0;
}

span.underline {
  text-decoration: underline;
}

a.link {
  display: block;
  margin-top: 10px;
}

.m0 {
  margin: 0;
}

.pre {
  white-space:  pre-wrap;
}

.welcome {
  margin-top: 40px;
  text-align: center;
}

.content-padding {
  padding-left: 25px;
  padding-right: 25px;
}

.header {
  margin-bottom: 30px;

  &__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px auto 60px;

    &-link {
      display: flex;
      width: 100%;
      text-decoration: none;
    }

    &-title {
      display: block;
      width: 200px;
      height: 45px;
      margin: 0;
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-image: url(../assets/as-one-logo-lying-down.svg);
      mask-size: 180px;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center center;
      -webkit-mask-image: url(../assets/as-one-logo-lying-down.svg);
      -webkit-mask-size: 180px;
      background-repeat: no-repeat;
      background-color: var(--color_blue100);
    }

    &-subtitle {
      height: 37px;
      margin: 10px 0 0 5px;
      font-size: 40px;
      letter-spacing: -2px;
      color: var(--color_blue100);
    }
  }

  &__nav {
    display: flex;

    &-option {
      flex-grow: 1;
      text-align: center;
      font-family: var(--fontFamily_avantGardeBold);
      font-size: 25px;
      text-decoration: none;
      color: var(--color_pink50);
    }
  }
}

.content {
  padding-bottom: 50px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: calc(50% - 100px);
  width: 200px;
  padding-top: 10px;
  background: black;

  &__link {
    display: block;
    text-align: center;
  }
}

////////////
// Scrollbar

// Width
::-webkit-scrollbar {
  width: 14px;
}

// Track
::-webkit-scrollbar-track {
  background: var(--color_blue0);
  border-left: 2px solid var(--color_blue0);
}

// Handle
::-webkit-scrollbar-thumb {
  background: var(--color_blue50);
  border-left: 2px solid var(--color_blue0);
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: var(--color_pink50);
}

////////////////////////////////////////////////////////////////////////////////
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .header {
    margin-bottom: 50px;
  }
}
